<div class="login-page" >
  
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            
            <h1>Login</h1>
            <form role="form">
                <div class="form-content">
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="defaultForm-email" class="form-control" mdbActive>
                        <label for="defaultForm-email">Your email</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="defaultForm-pass" class="form-control" mdbActive>
                        <label for="defaultForm-pass">Your password</label>
                    </div>
                </div>
                <div class="row col-md-12 ">
                    <p>
                        <input type="checkbox" id="test6" checked="checked" />
                        <label for="test6">Remember Me</label>
                      </p>
                    <a class="btn btn-primary btn-rounded waves-effect waves-light">Login</a>
                </div>
                
            </form>
        </div>
    </div>
</div>

