.heading{
    padding-bottom: 25px;
}
.cards {
    padding-left: 100px;
    padding-right: 75px;
}

.img-thumbnail{
    padding: 5px;
    background-color: #fff;
    height: 250px;
    width: 250px;
}

.image{
    padding: 10px;
}