


<div class="view">
    <img src="../assets/bg-image.jpeg" class="img-responsive" alt="">
    <div class="mask">
        <div class="verticalcenter">     
            <p class="white-text text-center"></p>
            </div>
    </div>
</div>


<div class="jumbotron ">
        <h1 class="h1-responsive head">Explore Like Ever Before</h1>
        
    </div>
          



<cities></cities>

<class class="container">
    <div class="heading text-center">
        <h1>Popular places</h1>
    </div>
    <div class="row cards">
        <places></places>
    </div>
</class>
