
<div class="dashboard">

<nav class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <li href="#" class="navbar-brand">
      Thrill World ...
    </li>
  </div>

  <div class="nav nav-items">
    <li class="nav-item">
        <a class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Logout</a>
    </li>
    </div>

</nav>

<div class="sidenav">
    <logo >
        <img src="../assets/Thrillworld-Logo.png" alt="" >
   </logo>


    <div class="items">
        <a href="">Home</a>
        <a href="">Events</a>
        <a href="">Settings</a>
        <a href="">About</a>
    </div>


</div>

<div class="container ">
  <div class="event row">
  <div class="image">
    <img src="../assets/gallery/emotions-2700972_640.jpg" alt="" class="img-thumbnail">
  </div>
  <div class="details">
    <h3>Event Name</h3>
    <p>Event details will be displayed here.</p>
  </div>
  <div class="options row">
      <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-md" >Edit</button>
          
      </div>
      <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-md" >Delete</button>
          
      </div>
  </div>
</div>
  
</div>
  
<div class="container ">
  <div class="event row">
  <div class="image">
    <img src="../assets/gallery/adventure-2nd-opti.jpg" alt="" class="img-thumbnail">
  </div>
  <div class="details">
    <h3>Event Name</h3>
    <p>Event details will be displayed here.</p>
  </div>
  <div class="options row">
      <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-md" >Edit</button>
          
      </div>
      <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-md" >Delete</button>
          
      </div>
  </div>
</div>
  
</div>
  
<div class="container ">
  <div class="event row">
  <div class="image">
    <img src="../assets/gallery/adventure-2nd-opti.jpg" alt="" class="img-thumbnail">
  </div>
  <div class="details">
    <h3>Event Name</h3>
    <p>Event details will be displayed here.</p>
  </div>
  <div class="options row">
      <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-md" >Edit</button>
          
      </div>
      <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-md" >Delete</button>
          
      </div>
  </div>
</div>
  
</div>
  
<div class="container ">
  <div class="event row">
  <div class="image">
    <img src="../assets/gallery/adventure-2nd-opti.jpg" alt="" class="img-thumbnail">
  </div>
  <div class="details">
    <h3>Event Name</h3>
    <p>Event details will be displayed here.</p>
  </div>
  <div class="options row">
      <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-md" >Edit</button>
          
      </div>
      <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-md" >Delete</button>
          
      </div>
  </div>
</div>
  
</div>
  
<div class="container ">
  <div class="event row">
  <div class="image">
    <img src="../assets/gallery/adventure-2nd-opti.jpg" alt="" class="img-thumbnail">
  </div>
  <div class="details">
    <h3>Event Name</h3>
    <p>Event details will be displayed here.</p>
  </div>
  <div class="options row">
      <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-md" >Edit</button>
          
      </div>
      <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-md" >Delete</button>
          
      </div>
  </div>
</div>
  
</div>
  





</div>






